<div class="modal-header">
  <h4 class="modal-title">{{ config.title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  {{ config.text }}
</div>

<div class="modal-footer">
  <button
    class="btn btn-outline-dark"
    type="button"
    (click)="activeModal.dismiss()"
  >
    Decline
  </button>

  <button
    class="btn btn-outline-dark"
    type="button"
    (click)="config.action$.next(config.data)"
  >
    Accept
  </button>
</div>
