<div class="modal-header">
  <h4 class="modal-title">Create board</h4>

  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="cancel()"
  >
    <!-- TODO: Add icomoon icon -->
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form
    [formGroup]="createBoardForm"
    (submit)="onSubmit()"
  >
    <div class="mb-3">
      <label
        class="mb-2 text-muted"
        for="title"
        >Title</label
      >

      <input
        id="title"
        class="form-control"
        formControlName="title"
        type="text"
      />

      @if (createBoardForm.title | errorsOnDirtyOrTouched; as errors) {
        @if (errors['required']) {
          <small class="text-danger">Title required.</small>
        }

        @if (errors['maxlength']; as maxLength) {
          <small class="text-danger">Maximal length is {{ maxLength.requiredLength }}.</small>
        }
      }
    </div>

    <div class="mb-3">
      <label
        class="mb-2 text-muted"
        for="description"
        >Description</label
      >

      <textarea
        id="description"
        class="form-control"
        autoResize
        formControlName="description"
      ></textarea>

      @if (createBoardForm.title | errorsOnDirtyOrTouched; as errors) {
        @if (errors['required']) {
          <small class="text-danger">Title required.</small>
        }

        @if (errors['maxLength']; as maxLength) {
          <small class="text-danger">Maximal length is {{ maxLength.requiredLength }}.</small>
        }
      }
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    class="btn btn-outline-dark"
    type="submit"
    [disabled]="createBoardForm.invalid"
  >
    Create board
  </button>
</div>
