<!-- https://ng-bootstrap.github.io/#/components/collapse/examples#navbar -->

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand d-flex">
      <div class="mr-2">Threadbox</div>
      <img
        src="assets/logo.png"
        alt="Threadbox logo image"
        width="30"
      />
    </div>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
    >
      &#9776;
    </button>

    <div
      [ngbCollapse]="isCollapsed"
      class="collapse navbar-collapse d-flex justify-content-between"
    >
      <ul class="navbar-nav">
        <li
          *ngFor="let link of headerService.links"
          class="nav-item"
        >
          <a
            class="nav-link"
            [ngClass]="{ 'active': link.path === activePath }"
            [routerLink]="link.path"
            (click)="onLinkClick(link.path)"
            >{{ link.title }}</a
          >
        </li>
      </ul>

      <button
        *ngIf="authenticationService.isAuthenticated$ | async"
        class="btn btn-secondary"
        (click)="authenticationService.logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>

<div class="m-2">
  <router-outlet></router-outlet>
</div>
