<div class="card border-dark">
  <div class="card-header thread-title">
    {{ thread.title }}
  </div>

  <div class="card-body">
    <p class="card-text">{{ thread.text }}</p>

    <div class="row mb-2">
      <div
        *ngFor="let imageUrl of thread.threadImageUrls"
        class="col-auto thread-image-col"
      >
        <img
          [src]="imageUrl"
          [alt]="'Unable to load ' + imageUrl"
          class="img-thumbnail thread-image"
        />
      </div>
    </div>

    <button
      *ngIf="thread.threadImageUrls.length !== 0"
      class="btn btn-secondary mb-2"
      (click)="downloadImagesEvent.emit()"
    >
      Download images
    </button>

    <div
      *ngFor="let post of thread.posts"
      class="my-2"
    >
      <app-post [post]="post"></app-post>
    </div>
  </div>

  <!-- <div class="card-footer"></div> -->
</div>
