<button
  class="btn btn-secondary"
  (click)="toggleCollapse()"
>
  Create thread
</button>

<div
  class="mt-3"
  #collapse="ngbCollapse"
  [(ngbCollapse)]="formCollapsed"
>
  <form
    [formGroup]="createThreadForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-3">
      <label
        class="mb-2 text-muted"
        for="title"
      >
        Title
      </label>

      <input
        id="title"
        class="form-control"
        [formControl]="createThreadForm.title"
        type="text"
      />

      @if (createThreadForm.title.touched && createThreadForm.title.errors; as errors) {
        @if (errors['required']) {
          <small class="text-danger">Title required.</small>
        }

        <!-- TODO: Max length validation error -->
      }
    </div>

    <div class="mb-3">
      <label
        class="mb-2 text-muted"
        for="text"
      >
        Text
      </label>

      <textarea
        id="text"
        class="form-control"
        [formControl]="createThreadForm.text"
      ></textarea>

      @if (createThreadForm.text.touched && createThreadForm.text.errors; as errors) {
        @if (errors['required']) {
          <small class="text-danger">Text required.</small>
        }

        <!-- TODO: Max length validation error -->
      }
    </div>

    <div>
      <app-images-upload
        [imagesUploadState]="imagesUploadState"
        [maxCount]="5"
        [fileInputId]="boardId"
      ></app-images-upload>
    </div>

    <button
      class="btn btn-outline-dark mt-3"
      type="submit"
      [disabled]="createThreadForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
