<button
  class="btn btn-secondary"
  (click)="toggleCollapse()"
>
  Create thread
</button>

<div
  class="mt-3"
  #collapse="ngbCollapse"
  [(ngbCollapse)]="formCollapsed"
>
  <form
    [formGroup]="createThreadForm"
    (ngSubmit)="onSubmit()"
  >
    @if (createThreadForm.title; as title) {
      <div class="mb-3">
        <label
          class="mb-2 text-muted"
          for="title"
        >
          Title
        </label>

        <input
          id="title"
          class="form-control"
          [formControl]="title"
          type="text"
        />

        @if (title.touched && title.errors; as errors) {
          @if (errors['required']) {
            <small class="text-danger">Title required.</small>
          }

          <!-- TODO: Max length validation error -->
        }
      </div>
    }

    @if (createThreadForm.text; as text) {
      <div class="mb-3">
        <label
          class="mb-2 text-muted"
          for="text"
        >
          Text
        </label>

        <textarea
          id="text"
          class="form-control"
          [formControl]="text"
        ></textarea>

        @if (text.touched && text.errors; as errors) {
          @if (errors['required']) {
            <small class="text-danger">Text required.</small>
          }

          <!-- TODO: Max length validation error -->
        }
      </div>
    }

    @if (createThreadForm.tripcodeString; as tripcodeString) {
      <div class="mb-3">
        <label
          class="mb-2 text-muted"
          for="tripcodeString"
        >
          Tripcode
        </label>

        <input
          id="tripcodeString"
          class="form-control"
          [formControl]="tripcodeString"
        />

        @if (tripcodeString.touched && tripcodeString.errors; as errors) {
          @if (errors['pattern']) {
            <small class="text-danger">Invalid tripcode format.</small>
          }

          <!-- TODO: Tripcode pattern description -->
        }
      </div>
    }

    <div>
      <app-images-upload
        [imagesUploadState]="imagesUploadState"
        [maxCount]="5"
        [fileInputId]="boardId"
      ></app-images-upload>
    </div>

    <button
      class="btn btn-outline-secondary mt-3"
      type="submit"
      [disabled]="createThreadForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
