<!-- https://github.com/nauvalazhar/bootstrap-5-login-page -->

<div class="card-body p-5">
  <h3 class="mb-4">Registration</h3>
  <form
    (submit)="onSubmit()"
    [formGroup]="registrationForm"
  >
    <div class="mb-3">
      <label
        class="mb-2 text-muted"
        for="user-name"
        >User name</label
      >
      <input
        id="user-name"
        class="form-control"
        formControlName="userName"
        type="text"
      />

      <ng-container *ngIf="registrationForm.controls['userName'] as userName">
        <ng-container *ngIf="(userName.dirty || userName.touched) && userName.errors as errors">
          <small
            class="text-danger"
            *ngIf="errors.required"
          >
            User name required.
          </small>
          <small
            class="text-danger"
            *ngIf="errors.minlength"
          >
            Minimal length is {{ errors.minlength.requiredLength }}.
          </small>
          <small
            class="text-danger"
            *ngIf="errors.maxlength"
          >
            Maximal length is {{ errors.maxlength.requiredLength }}.
          </small>
        </ng-container>
      </ng-container>
    </div>

    <div class="mb-3">
      <div class="mb-2 w-100">
        <label
          class="text-muted"
          for="password"
          >Password</label
        >
        <!-- <a class="float-end"> Forgot Password? </a> -->
      </div>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="form-control"
        (input)="validateConfirmPassword()"
      />

      <ng-container *ngIf="registrationForm.controls['password'] as password">
        <ng-container *ngIf="(password.dirty || password.touched) && password.errors as errors">
          <small
            class="text-danger"
            *ngIf="errors.required"
          >
            Password required.
          </small>
          <small
            class="text-danger"
            *ngIf="errors.minlength"
          >
            Minimal length is {{ errors.minlength.requiredLength }}.
          </small>
          <small
            class="text-danger"
            *ngIf="errors.maxlength"
          >
            Maximal length is {{ errors.maxlength.requiredLength }}.
          </small>
        </ng-container>
      </ng-container>
    </div>

    <div class="mb-3">
      <div class="mb-2 w-100">
        <label
          class="text-muted"
          for="confirm-password"
          >Confirm password</label
        >
      </div>
      <input
        id="confirm-password"
        formControlName="confirmPassword"
        type="password"
        class="form-control"
      />

      <ng-container *ngIf="registrationForm.controls['confirmPassword'] as confirmPassword">
        <ng-container *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors as errors">
          <small
            class="text-danger"
            *ngIf="errors.matching"
          >
            Passwords don't match.
          </small>
        </ng-container>
      </ng-container>
    </div>

    <div class="mb-3">
      <div class="mb-2 w-100">
        <label
          class="text-muted"
          for="registration-token"
          >Registration token</label
        >
      </div>
      <input
        id="registration-token"
        formControlName="registrationToken"
        type="text"
        class="form-control"
      />

      <ng-container *ngIf="registrationForm.controls['registrationToken'] as registrationToken">
        <ng-container *ngIf="(registrationToken.dirty || registrationToken.touched) && registrationToken.errors as errors">
          <small
            class="text-danger"
            *ngIf="errors.required"
          >
            Registration token required.
          </small>
          <small
            class="text-danger"
            *ngIf="errors.pattern"
          >
            Invalid registration token.
          </small>
        </ng-container>
      </ng-container>
    </div>

    <div class="d-flex align-items-center">
      <button
        type="submit"
        class="btn btn-primary ms-auto"
        [disabled]="registrationForm.invalid"
      >
        Register
      </button>
    </div>
  </form>
</div>
<div class="card-footer py-3 border-0">
  <div class="text-center">
    <a
      routerLink="/app/authentication/login"
      class="text-dark"
      >Login</a
    >
  </div>
</div>
