<h3 class="mb-3">Boards</h3>
<div class="boards-list list-group mb-4">
  <div
    *ngFor="let board of boards"
    class="list-group-item list-group-item-action d-flex justify-content-between"
  >
    <a [routerLink]="['../board', board.id]">
      {{ board.title }}
    </a>

    <div>
      <img
        (click)="openEditBoardModal(board.id)"
        src="assets/icons/iconmonstr-pencil-square-filled.svg"
        alt="iconmonstr-pencil-square-filled.svg"
        width="30"
      />
      <img
        (click)="openDeleteBoardModal(board)"
        src="assets/icons/iconmonstr-x-mark-circle-lined.svg"
        alt="iconmonstr-x-mark-circle-lined.svg"
        width="30"
      />
    </div>
  </div>
</div>
<button
  class="btn btn-secondary"
  (click)="openAddBoardModal()"
>
  Add board
</button>
