<div class="card border-dark">
  <div class="card-header"></div>

  <div class="card-body">
    <p class="card-text">{{ post.text }}</p>

    <div class="row">
      <div
        *ngFor="let imageUrl of post.postImageUrls"
        class="col-auto post-image-col"
      >
        <img
          [httpSource]="imageUrl"
          [alt]="'Unable to load ' + imageUrl"
          class="img-thumbnail post-image"
        />
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button
      *ngIf="post.postImageUrls!.length !== 0"
      class="btn btn-secondary"
      (click)="eventService.downloadPostImages$.next({ postId: post.id})"
    >
      Download images
    </button>
  </div>
</div>
