<div class="form-group file-input">
  <label
    for="imagesInput"
    class="btn btn-secondary"
  >
    Add images
  </label>

  <input
    #fileInput
    [formControl]="formControl"
    id="imagesInput"
    type="file"
    class="d-none"
    multiple
    [accept]="allowedFormats | join"
    (change)="onChange(fileInput)"
  />
</div>

<div class="row">
  @for (file of files; track file.name) {
    <div class="col-auto image-col img-wraps">
      <i
        class="icomoon-icon trash trash-icon"
        (click)="deleteFile(file.name)"
      ></i>

      <img
        [src]="file.base64"
        [alt]="'Unable to load ' + file.name"
        class="img-thumbnail image img-responsive"
      />
    </div>
  }
</div>
