@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../src/assets/icons/icomoon/icons.scss';

.image-col {
  padding: 3px;

  .image {
    max-width: 250px;
    max-height: 250px;
  }
}

.img-wraps {
  position: relative;
  display: inline-block;
  font-size: 0;
  opacity: 1;

  &:hover .trash-icon {
    opacity: 1;
    color: $danger;
    font-size: x-large;
  }

  .trash-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 100;
    padding: 4px 3px;
    cursor: pointer;
  }
}
