<div class="form-group file-input">
  <label
    for="imagesInput"
    class="btn btn-secondary"
  >
    Add images
  </label>

  <i
    class="icomoon-icon trash"
    (click)="deleteFiles()"
  ></i>

  <input
    #fileInput
    id="imagesInput"
    type="file"
    class="d-none"
    multiple
    [accept]="allowedFormats | join"
    (change)="onFileInputChange(fileInput)"
  />
</div>

<div class="row">
  @for (base64File of base64Files; track base64File.file.name) {
    <div class="col-auto image-col img-wraps">
      <i
        class="icomoon-icon trash trash-icon"
        (click)="deleteFile(base64File.file.name)"
      ></i>

      <img
        [src]="base64File.base64"
        [alt]="'Unable to load ' + base64File.file.name"
        class="img-thumbnail image img-responsive"
      />
    </div>
  }
</div>
