<ng-container *transloco="let translate; read: 'BOARD.CREATE_POST_MODAL'">
  <div class="modal-header">
    <h4 class="modal-title">{{ translate('CREATE_POST') }}</h4>

    <button
      class="btn-close"
      (click)="close()"
    ></button>
  </div>

  <div class="modal-body">
    <form
      [formGroup]="createPostForm"
      (ngSubmit)="onSubmit()"
    >
      @if (createPostForm.text; as text) {
        <div class="mb-3">
          <label
            class="mb-2 text-muted"
            for="text"
          >
            {{ translate('TEXT_LABEL') }}
          </label>

          <textarea
            id="text"
            class="form-control"
            [formControl]="text"
          ></textarea>

          @if (text.touched && text.errors; as errors) {
            @if (errors['required']) {
              <small class="text-danger">{{ translate('TEXT_VALIDATION_REQUIRED') }}</small>
            }

            <!-- TODO: Max length validation error -->
          }
        </div>
      }

      @if (createPostForm.tripcodeString; as tripcodeString) {
        <div class="mb-3">
          <label
            class="mb-2 text-muted"
            for="tripcodeString"
          >
            {{ translate('TRIPCODE_LABEL') }}
          </label>

          <input
            id="tripcodeString"
            class="form-control"
            [formControl]="tripcodeString"
          />

          @if (tripcodeString.touched && tripcodeString.errors; as errors) {
            @if (errors['pattern']) {
              <small class="text-danger">{{ translate('TRIPCODE_VALIDATION_PATTERN') }}</small>
            }

            <!-- TODO: Tripcode pattern description -->
          }
        </div>
      }

      <div>
        <app-images-upload
          [imagesUploadState]="imagesUploadState"
          [maxCount]="5"
          [fileInputId]="threadId"
        ></app-images-upload>
      </div>

      <button
        class="btn btn-outline-secondary mt-3"
        type="submit"
        [disabled]="createPostForm.invalid"
      >
        {{ translate('SUBMIT') }}
      </button>
    </form>
  </div>
</ng-container>
