@if (board$ | async; as board) {
  <div class="d-flex justify-content-between mb-3">
    <h3>{{ board.title }}</h3>

    <div class="input-group ms-3 search-block">
      <input
        type="text"
        class="form-control"
        placeholder="Search in threads and posts"
        [(ngModel)]="searchText"
        (blur)="onSearchInputBlur()"
      />

      <button
        class="btn btn-secondary"
        (click)="searchThreads()"
        [disabled]="!searchText"
      >
        <i class="icomoon-icon search"></i>
      </button>
    </div>
  </div>

  <p>{{ board.description }}</p>

  <div
    scroll-tracking
    (thresholdPassed)="onThresholdPassed()"
  >
    <button class="btn btn-secondary mb-2">Create thread</button>

    @if (threads$ | async; as threads) {
      @for (thread of threads; track thread.id) {
        <app-thread [thread]="thread"></app-thread>
      }
    }
  </div>
}
