@if (board) {
  <div class="d-flex justify-content-between mb-3">
    <h3>{{ board.title }}</h3>

    <div class="input-group ms-3 search-block">
      <input
        type="text"
        class="form-control"
        placeholder="Search in threads and posts"
        [(ngModel)]="searchText"
        (blur)="onSearchInputBlur()"
      />

      <button
        class="btn btn-secondary"
        (click)="searchThreads()"
        [disabled]="!searchText"
      >
        <i class="icomoon-icon search"></i>
      </button>
    </div>
  </div>

  <p>{{ board.description }}</p>

  <div
    scroll-tracking
    (thresholdPassed)="onThresholdPassed()"
  >
    <app-create-thread
      [boardId]="board.id"
      (threadCreated)="onThreadCreated()"
    ></app-create-thread>
    <hr />

    @if (threads) {
      @for (thread of threads; track thread.id) {
        <app-thread
          [thread]="thread"
          (deleteThread)="deleteThread(thread.id)"
        ></app-thread>
      }
    }
  </div>
}
