<div class="card border-dark my-2">
  <div class="card-header thread-title d-flex justify-content-between">
    {{ thread.title }}

    @if (thread.hasMorePosts) {
      <i
        class="icomoon-icon posts-toggle"
        [ngClass]="{ up: allPostsLoaded, down: !allPostsLoaded }"
        (click)="togglePosts()"
      ></i>
    }
  </div>

  <div class="card-body">
    <p class="card-text">{{ thread.text }}</p>

    <div class="row mb-2">
      @for (imageUrl of thread.threadImageUrls; track $index) {
        <div class="col-auto p-1">
          <img
            [lazyLoad]="imageUrl"
            src="assets/image-placeholder.gif"
            alt="Thread image"
            class="img-thumbnail image"
          />
        </div>
      }
    </div>

    @if (thread.threadImageUrls?.length! > 1) {
      <button class="btn btn-secondary mb-2">Download images</button>
    }

    @if (posts$ | async; as posts) {
      @for (post of posts; track post.id) {
        <div class="card my-2">
          <div class="card-body">
            <p class="card-text">{{ post.text }}</p>

            <div class="row mb-2">
              @for (imageUrl of post.postImageUrls; track $index) {
                <div class="col-auto p-1">
                  <img
                    [lazyLoad]="imageUrl"
                    src="assets/image-placeholder.gif"
                    alt="Post image"
                    class="img-thumbnail image"
                  />
                </div>
              }
            </div>

            @if (post.postImageUrls?.length! > 1) {
              <button class="btn btn-secondary mb-2">Download images</button>
            }
          </div>
        </div>
      }
    }
  </div>

  <!-- <div class="card-footer"></div> -->
</div>
