@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../assets/icons/icomoon/icons.scss';

.thread-header > *:not(:first-child),
.post-header > *:not(:first-child) {
  margin-left: map-get($spacers, 2);
}

.create-post {
  cursor: pointer;
}

.posts-toggle {
  cursor: pointer;
}

.image {
  max-width: 250px;
  max-height: 250px;
}
