<div class="card border-dark my-2">
  <div class="card-header thread-header">
    <span class="fw-bold">{{ thread.title }}</span>
    <span>{{ thread.tripcodeKey ?? 'Anonymous' }}</span>
    <span>{{ thread.createdAt | date: 'dd.MM.yy EEEE HH:mm:ss' }}</span>

    <i
      class="icomoon-icon plus align-middle"
      (click)="openCreatePostModal()"
      role="button"
    ></i>

    <i
      *ngxPermissionsOnly="threadPermissions.delete"
      class="icomoon-icon trash align-middle"
      (click)="emitDeleteThreadEvent()"
      role="button"
    ></i>
  </div>

  <div class="card-body">
    <p class="card-text">{{ thread.text }}</p>

    <div class="row mb-2">
      @for (image of thread.threadImages; track $index) {
        <div class="col-auto p-1">
          <img
            [lazyLoad]="image.url!"
            src="assets/image-placeholder.gif"
            alt="Thread image"
            class="img-thumbnail image"
          />
        </div>
      }
    </div>

    @if (thread.threadImages?.length; as length) {
      <div>
        <button
          class="btn btn-secondary mb-2"
          (click)="downloadThreadImages()"
        >
          {{ length > 1 ? 'Download images' : 'Download image' }}
        </button>
      </div>
    }

    @if (thread.hasMorePosts) {
      <i
        class="icomoon-icon align-middle"
        [ngClass]="{ up: allPostsLoaded, down: !allPostsLoaded }"
        (click)="togglePosts()"
        role="button"
      ></i>
    }

    @if (posts$ | async; as posts) {
      @for (post of posts; track post.id) {
        <div class="card my-2">
          <div class="card-header post-header">
            <span>{{ post.tripcodeKey ?? 'Anonymous' }}</span>
            <span>{{ post.createdAt | date: 'dd.MM.yy EEEE HH:mm:ss' }}</span>

            <i
              *ngxPermissionsOnly="postPermissions.delete"
              class="icomoon-icon trash align-middle"
              (click)="('javascript:;')"
              role="button"
            ></i>
          </div>

          <div class="card-body">
            <p class="card-text">{{ post.text }}</p>

            <div class="row mb-2">
              @for (image of post.postImages; track $index) {
                <div class="col-auto p-1">
                  <img
                    [lazyLoad]="image.url!"
                    src="assets/image-placeholder.gif"
                    alt="Post image"
                    class="img-thumbnail image"
                  />
                </div>
              }
            </div>

            @if (post.postImages?.length; as length) {
              <button
                class="btn btn-secondary mb-2"
                (click)="downloadPostImages(post)"
              >
                {{ length > 1 ? 'Download images' : 'Download image' }}
              </button>
            }
          </div>
        </div>
      }
    }
  </div>

  <!-- <div class="card-footer"></div> -->
</div>
