<div class="modal-header">
  <h4 class="modal-title">Add board</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="boardForm">
    <div class="mb-3">
      <label
        class="mb-2 text-muted"
        for="title"
        >Title</label
      >
      <input
        id="title"
        class="form-control"
        formControlName="title"
        type="text"
      />

      <ng-container *ngIf="boardForm.title as title">
        <ng-container *ngIf="(title.dirty || title.touched) && title.errors as errors">
          <small
            class="text-danger"
            *ngIf="errors.required"
          >
            Title required.
          </small>
        </ng-container>
      </ng-container>
    </div>

    <div class="mb-3">
      <label
        class="mb-2 text-muted"
        for="description"
        >Description</label
      >
      <textarea
        id="description"
        class="form-control"
        autoResize
        formControlName="description"
      ></textarea>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    class="btn btn-outline-dark"
    type="button"
    [disabled]="boardForm.invalid"
  >
    Submit
  </button>
</div>
