<div class="modal-header">
  <h4 class="modal-title">{{ title ?? 'Confirm action' }}</h4>

  <button
    type="button"
    class="btn-close"
    (click)="dismiss()"
  ></button>
</div>

<div class="modal-body">{{ text }}</div>

<div class="modal-footer justify-content-start">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="close()"
  >
    Confirm
  </button>

  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="dismiss()"
  >
    Decline
  </button>
</div>
