<div class="modal-header">
  <h4 class="modal-title">{{ config.title ?? 'Confirm action' }}</h4>

  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="decline()"
  >
    <!-- TODO: Replace with icomoon icon -->
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  {{ config.text }}
</div>

<div class="modal-footer">
  <button
    class="btn btn-outline-secondary"
    type="button"
    (click)="decline()"
  >
    Decline
  </button>

  <button
    class="btn btn-outline-secondary"
    type="button"
    (click)="accept()"
  >
    Accept
  </button>
</div>
