@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../src/assets/icons/icomoon/icons.scss';

.sections-list {
  max-width: 500px;
}

.action-icon {
  font-size: x-large;

  &:hover {
    cursor: pointer;
    color: $primary;
  }
}
