<form [formGroup]="imagesForm">
  <div class="form-group file-input">
    <label
      for="imagesInput"
      class="btn btn-secondary"
    >
      Add images
    </label>

    <input
      #fileInput
      formControlName="imagesInput"
      id="imagesInput"
      type="file"
      class="d-none"
      multiple=""
      accept="image/*"
      (change)="onFileChange(fileInput)"
    />
  </div>

  <div class="row">
    <div
      *ngFor="let imageFile of imageFiles; let i = index"
      class="col-auto image-col img-wraps"
    >
      <i
        class="icomoon-icon trash trash-icon"
        (click)="deleteImage(imageFile)"
      ></i>

      <img
        [src]="imageFile.base64"
        [alt]="'Unable to load ' + imageFile.file.name"
        class="img-thumbnail image img-responsive"
      />
    </div>
  </div>
</form>
