<form [formGroup]="imagesForm">
  <div class="form-group">
    <label for="imagesInput">Images</label>
    <input
      #fileInput
      formControlName="imagesInput"
      id="imagesInput"
      type="file"
      class="form-control"
      multiple=""
      (change)="onFileChange(fileInput)"
    />
  </div>

  <!-- <img
    *ngFor="let url of images"
    [src]="url"
    height="150"
    width="200px"
    style="margin: 3px;"
  /> -->

  <div class="row">
    <div
      *ngFor="let base64Url of base64Urls; let i = index"
      class="col-auto image-col img-wraps"
    >
      <img
        class="closes"
        src="assets/icons/iconmonstr-x-mark-circle-lined.svg"
        width="40"
        (click)="deleteImage(i)"
      />
      <img
        [src]="base64Url"
        [alt]="'Unable to load ' + imageFiles[i].name"
        class="img-thumbnail image img-responsive"
      />
    </div>
  </div>
</form>
